# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Dependency directories
jspm_packages/

# User-specific files
*.rsuser
*.rsproj
*.suo
*.user
*.userosscache
*.sln.docstates

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# WebStorm
.idea/

# Project-specific files
/dist/
